
/* Home page css*/



.navbar-brand{
  font-size: 5px;
}
.nav-item{
  padding: 10px;
}
.navbar{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*.navbar{
  background-color: rgb(171, 214, 249);
  color: rgb(52, 45, 45);
}*/

/* Register form CSS */
body{
  background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Login Page CSS */

/*Dashboard Page CSS*/
.table{
  background-color: white;
}

